#Creación de dataframes y limpieza de datos

In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

#Leemos el dataset de registro de "Ingresos y Egresos"

In [88]:
#Lectura del registro de los ingresos y egresos
egresos_ingresos = pd.read_csv("/content/drive/MyDrive/finanzas_proyecto/egresos_ingresos.csv", sep="|",index_col=0)

egresos_ingresos.head()

      Fecha     Tipo  Categoria       Concepto   Cantidad
1  1/7/2021   Egreso  Alimentos  Comidas fuera    $130.00
2  1/7/2021   Egreso  Alimentos  Comidas fuera    $130.00
3  1/7/2021   Egreso  Alimentos  Comidas fuera     $50.00
4  1/7/2021   Egreso   Personal           Ropa    $641.00
5  5/7/2021  Ingreso    Trabajo          Vales  $2,700.00

In [89]:
#Agregamos la columna fuente para un futuro hacer un merge con el presupuesto
egresos_ingresos.insert(0,"Fuente","egresos_ingresos",allow_duplicates=True)

fuente_ei = egresos_ingresos

In [90]:
#Validamos que se haya generado el data set completo
fuente_ei.head()

             Fuente     Fecha     Tipo  Categoria       Concepto   Cantidad
1  egresos_ingresos  1/7/2021   Egreso  Alimentos  Comidas fuera    $130.00
2  egresos_ingresos  1/7/2021   Egreso  Alimentos  Comidas fuera    $130.00
3  egresos_ingresos  1/7/2021   Egreso  Alimentos  Comidas fuera     $50.00
4  egresos_ingresos  1/7/2021   Egreso   Personal           Ropa    $641.00
5  egresos_ingresos  5/7/2021  Ingreso    Trabajo          Vales  $2,700.00

In [91]:
#Cambiamos el formato fecha a yyyy-d-m
fuente_ei['Fecha'] = pd.to_datetime(fuente_ei.Fecha)

ei_formated = fuente_ei

In [92]:
#Ahora limpiamos la columana "Cantidad"
ei_formated['Cantidad'] = ei_formated['Cantidad'].str.replace('$','')
ei_formated['Cantidad'] = ei_formated['Cantidad'].str.replace(',','').astype(float)
ei_formated

ei_limpio = ei_formated

In [94]:
#Validamos que los cambios se hayan realizado correctamente
ei_limpio

              Fuente      Fecha  ...           Concepto Cantidad
1   egresos_ingresos 2021-01-07  ...      Comidas fuera    130.0
2   egresos_ingresos 2021-01-07  ...      Comidas fuera    130.0
3   egresos_ingresos 2021-01-07  ...      Comidas fuera     50.0
4   egresos_ingresos 2021-01-07  ...               Ropa    641.0
5   egresos_ingresos 2021-05-07  ...              Vales   2700.0
..               ...        ...  ...                ...      ...
74  egresos_ingresos 2021-05-25  ...             Doctor    500.0
75  egresos_ingresos 2021-05-29  ...      Comidas fuera    900.0
76  egresos_ingresos 2021-11-05  ...           Gasolina   1800.0
77  egresos_ingresos 2021-05-26  ...        Medicametos    200.0
78  egresos_ingresos 2021-05-26  ...  Prestamo familiar   3000.0

[78 rows x 6 columns]

#Leemos el data set del "Presupuesto Mensual"

In [105]:
#Leemos el presupuesto mensual
presupuesto = pd.read_csv("/content/drive/MyDrive/finanzas_proyecto/presupuesto.csv", sep="|", index_col=0)

presupuesto.head()

          Mes     Categoria Subcategoria Concepto    Cantidad
1  Julio-2021      Ingresos      Trabajo   Sueldo  $14,560.00
2  Julio-2021      Ingresos      Trabajo   Sueldo  $14,560.00
3  Julio-2021      Ingresos      Trabajo    Vales   $2,740.00
4  Julio-2021      Ingresos      Trabajo     Bono        $830
5  Julio-2021  Gastos Fijos        Hogar    Renta      $6,000

In [106]:
#Agregamos la columna fuente con su valor "presupuesto" para un futuro merge con egresos e ingresos
presupuesto.insert(0,"Fuente","presupuesto",allow_duplicates=True)

fuente_pre = presupuesto

In [107]:
#Validamos que se haya agreagdo de manera correcta
fuente_pre.head()

        Fuente         Mes     Categoria Subcategoria Concepto    Cantidad
1  presupuesto  Julio-2021      Ingresos      Trabajo   Sueldo  $14,560.00
2  presupuesto  Julio-2021      Ingresos      Trabajo   Sueldo  $14,560.00
3  presupuesto  Julio-2021      Ingresos      Trabajo    Vales   $2,740.00
4  presupuesto  Julio-2021      Ingresos      Trabajo     Bono        $830
5  presupuesto  Julio-2021  Gastos Fijos        Hogar    Renta      $6,000

In [108]:
#Cambiamos el formato fecha a yyyy-d-m
fuente_pre['Mes'] = fuente_pre['Mes'].str.replace('Julio','01-07')

pre_formated = fuente_pre

In [111]:
#Ahora limpiamos la columna "Cantidad"
pre_formated['Cantidad'] = pre_formated['Cantidad'].str.replace('$','')
pre_formated['Cantidad'] = pre_formated['Cantidad'].str.replace(',','').astype(float)

pre_limpio = pre_formated

In [112]:
pre_limpio.head()

        Fuente         Mes     Categoria Subcategoria Concepto  Cantidad
1  presupuesto  01-07-2021      Ingresos      Trabajo   Sueldo   14560.0
2  presupuesto  01-07-2021      Ingresos      Trabajo   Sueldo   14560.0
3  presupuesto  01-07-2021      Ingresos      Trabajo    Vales    2740.0
4  presupuesto  01-07-2021      Ingresos      Trabajo     Bono     830.0
5  presupuesto  01-07-2021  Gastos Fijos        Hogar    Renta    6000.0

Nota: para la limpieza de cantidad se cambiara a algo como esto data['nombre_col'] = data['nombre_col'].map(lambda x: x.lstrip('valor').rstrip('valor'))

#Merge the los dos datasets para su analisis

In [114]:
#Ponemos los dos dfs en una variable
frames = [pre_limpio, ei_limpio]

In [115]:
#Hacemos el merge de los dos
registro_presupuesto = pd.concat(frames)

In [116]:
registro_presupuesto.shape

(138, 8)

In [117]:
registro_presupuesto

              Fuente         Mes     Categoria  ... Cantidad      Fecha    Tipo
1        presupuesto  01-07-2021      Ingresos  ...  14560.0        NaT     NaN
2        presupuesto  01-07-2021      Ingresos  ...  14560.0        NaT     NaN
3        presupuesto  01-07-2021      Ingresos  ...   2740.0        NaT     NaN
4        presupuesto  01-07-2021      Ingresos  ...    830.0        NaT     NaN
5        presupuesto  01-07-2021  Gastos Fijos  ...   6000.0        NaT     NaN
..               ...         ...           ...  ...      ...        ...     ...
74  egresos_ingresos         NaN         Salud  ...    500.0 2021-05-25  Egreso
75  egresos_ingresos         NaN     Alimentos  ...    900.0 2021-05-29  Egreso
76  egresos_ingresos         NaN    Movilidad   ...   1800.0 2021-11-05  Egreso
77  egresos_ingresos         NaN         Salud  ...    200.0 2021-05-26  Egreso
78  egresos_ingresos         NaN      Prestamo  ...   3000.0 2021-05-26  Egreso

[138 rows x 8 columns]